---
import CardBeneficios from "../ui/CardBeneficios.astro";

const beneficios = [
  {
    titulo: "Mejora tu energía diaria",
    descripcion:
      "Recupera tu vitalidad y siéntete con más energía durante el día con una alimentación equilibrada y adaptada a tu cuerpo.",
  },
  {
    titulo: "Logra un peso saludable",
    descripcion:
      "Alcanza tu peso ideal sin dietas extremas, con un plan nutricional realista y sostenible a largo plazo.",
  },
  {
    titulo: "Mejora tu relación con la comida",
    descripcion:
      "Aprende a comer sin culpa ni restricciones, creando hábitos saludables que puedas mantener en tu día a día.",
  },
  {
    titulo: "Aumenta tu rendimiento físico",
    descripcion:
      "Optimiza tu alimentación para mejorar tu rendimiento, recuperación y resultados en tu entrenamiento.",
  },
  {
    titulo: "Previene enfermedades",
    descripcion:
      "Reduce el riesgo de enfermedades y mejora tu bienestar general a través de una nutrición adecuada.",
  },
  {
    titulo: "Mejora tu bienestar general",
    descripcion:
      "RSiéntete mejor contigo mismo, mejora tu digestión y disfruta de un estilo de vida más saludable.",
  },
];
---

<section
  class:list={[
    "w-full",
    "bg-gradient-to-r",
    "from-crema1",
    "via-crema2",
    "to-crema3",
    "py-10",
    "sm:py-20",
  ]}
>
  <div
    class:list={[
      "container",
      "mx-auto",
      "px-6",
      "text-center",
      "text-brown/80",
    ]}
  >
    <h2 class:list={["text-4xl", "sm:text-5xl", "font-bold mb-4"]}>
      Beneficios de una alimentación personalizada
    </h2>

    <p class:list={["max-w-2xl", "mx-auto", "text-brown/60", "mb-12", "w-3/4"]}>
      Mejora tu salud, tu energía y tu relación con la comida con un plan
      adaptado a ti.
    </p>

    <div class:list={["flex", "flex-wrap", "justify-center", "gap-8"]}>
      {
        beneficios.map((beneficio) => (
          <CardBeneficios
            titulo={beneficio.titulo}
            descripcion={beneficio.descripcion}
          />
        ))
      }
    </div>
  </div>
</section>
