---
import CardImagenAlondra from "../ui/CardImagenAlondra.astro";
import CardTexto from "../ui/cardTexto.astro";
---

<section
  class:list={["bg-gradient-to-r", "from-crema1", "via-crema2", "to-crema3"]}
>
  <h2
    class:list={[
      "text-center",
      "text-4xl",
      "sm:text-5xl",
      "font-bold",
      "font-serif",
      "text-brown/80",
      "sm:py-8",
      "py-8"
    ]}
  >
    ¿Quien Soy?
  </h2>
  <p class:list={["mx-auto", "flex", "text-center", "justify-center", "text-brown/60", "-mt-4", "mb-8", "w-3/4"]}>
    En la siguiente seccion puedes conocer un poco mas acerca de mi, mi experiencia y mi enfoque como nutriologa. 
  </p>
  <article
    class:list={[
      "flex",
      "sm:flex-row",
      "flex-col",
      "items-center",
      "justify-center",
      "sm:gap-10",
      "sm:mt-4",
    ]}
  >
    <div class:list={[]}>
      <CardTexto
        nombre="Alondra Aldana"
descripcion="Soy una <strong>nutrióloga profesional</strong> apasionada y comprometida a transformar vidas a través de una <strong>alimentación saludable</strong>, consciente y realista. Trabajo con un <strong>enfoque integral en nutrición</strong>, ayudando a cada paciente a lograr un equilibrio entre <strong>salud, bienestar y disfrute de la comida</strong>. Mi objetivo es acompañarte con <strong>planes de alimentación personalizados</strong> que se adapten a tu estilo de vida. ¡Me encantaría ser parte de tu cambio!"        badges={[
          { text: "Nutrición Clínica", color: "crema" },
          { text: "Nutrición Deportiva", color: "crema" },
          { text: "Nutrición Preventiva", color: "crema" },
          { text: "Nutrición Geriatrica", color: "crema" },
        ]}
      />
    </div>
    <div class:list={["sm:-ml-18", "sm:mt-20", "mt-5"]}>
      <CardImagenAlondra
        src="/images/AlondraAldana.jpeg"
        alt="Alondra Aldana"
      />
    </div>
  </article>
</section>
