---
import CardServicios from "../ui/CardServicios.astro";

const servicios = [
  {
    titulo: "Consulta Inicial y Evaluación Nutricional",
    descripcion:
      "Evaluamos tu salud, hábitos y objetivos para comenzar tu proceso nutricional.",
    icono: "doctor",
  },
  {
    titulo: "Valoración corporal /antropométrica",
    descripcion:
      "Analizamos tu composición corporal para establecer metas reales.",
    icono: "gym",
  },
  {
    titulo: "Plan de Alimentación Personalizado",
    descripcion:
      "Creamos un plan adaptado a tu estilo de vida, sin dietas extremas.",
    icono: "food",
  },
  {
    titulo: "Orientación y Educación Nutricional",
    descripcion:
      "Aprende a comer y sentirte mejor con la comida con una asesoría clara y práctica.",
    icono: "chart",
  },
  {
    titulo: "Control de Progreso",
    descripcion:
      "Monitoreamos tu progreso y ajustamos tu plan para mejores resultados.",
    icono: "heart",
  },
  {
    titulo: "Seguimiento en todo momento con App",
    descripcion:
      "Puedes seguir tu progreso y verificar tus dietas a traves de la aplicacion",
    icono: "checklist",
  },
];
---

<div
  class:list={[
    "bg-gradient-to-r",
    "from-crema1",
    "via-crema2",
    "to-crema3",
  ]}
>
  <section class:list={["container", "mx-auto", "py-5", "px-4"]}>
    <h2
      class:list={[
        "text-4xl sm:text-5xl ",
        "font-bold",
        "text-center",
        "mb-15 mt-15",
        "text-brown/80",
      ]}
    >
      Nuestros Servicios
    </h2>
    <div class:list={["flex", "flex-wrap", "gap-8", "justify-center"]}>
      {
        servicios.map((servicio) => (
          <CardServicios
            titulo={servicio.titulo}
            descripcion={servicio.descripcion}
            icono={servicio.icono}
            botonTexto="Saber más"
            hrefBoton="#"
          />
        ))
      }
    </div>
  </section>
  </div
