---
import CardTestimonios from "../ui/CardTestimonios.astro";

const testimonios = [
  {
    nombre: "Marco Olivares",
    descripcion:
      "La nutriologa Alondra Aldana, es una profesional excepcional. Su enfoque personalizado y su dedicación a la salud de sus pacientes son impresionantes. Gracias a su orientación, he logrado alcanzar mis objetivos de bienestar de manera efectiva y sostenible.",
    img: "/assets/img/testimonios/marco.png",
  },
  {
    nombre: "Karla Ramirez",
    descripcion:
      "La nutriologa Alondra Aldana, es una profesional excepcional. Su enfoque personalizado y su dedicación a la salud de sus pacientes son impresionantes. Gracias a su orientación, he logrado alcanzar mis objetivos de bienestar de manera efectiva y sostenible.",
    img: "/assets/img/testimonios/sofia.png",
  },
  {
    nombre: "Carlos Mendoza",
    descripcion:
      "La nutriologa Alondra Aldana, es una profesional excepcional. Su enfoque personalizado y su dedicación a la salud de sus pacientes son impresionantes. Gracias a su orientación, he logrado alcanzar mis objetivos de bienestar de manera efectiva y sostenible.",
    img: "/assets/img/testimonios/carlos.png",
  },
  {
    nombre: "Carlos Mendoza",
    descripcion:
      "La nutriologa Alondra Aldana, es una profesional excepcional. Su enfoque personalizado y su dedicación a la salud de sus pacientes son impresionantes. Gracias a su orientación, he logrado alcanzar mis objetivos de bienestar de manera efectiva y sostenible.",
    img: "/assets/img/testimonios/carlos.png",
  },
];
---

<div
  class:list={["bg-gradient-to-r", "from-crema1", "via-crema2", "to-crema3"]}
>
  <section class:list={["w-full", "container", "mx-auto", "px-4"]}>
    <h2
      class:list={[
        "container",
        "text-4xl md:text-5xl",
        "text-center",
        "text-brown/80",
        "font-serif",
        "font-bold",
        "flex",
        "flex-col",
        "items-center",
        "justify-center",
        "mx-auto",
      ]}
    >
      Testimonios
    </h2>
    <p
      class:list={[
        "text-base md:text-base",
        "text-center",
        "text-brown/60",
        "mt-2",
      ]}
    >
      Esto dicen los pacientes acerca de Alondra Aldana y su servicio.
    </p>
    <slot>
      <div class:list={["flex", "mt-12", "flex-wrap", "gap-y-6"]}>
        {
          testimonios.map((testimonio) => (
            <CardTestimonios
              nombre={testimonio.nombre}
              descripcion={testimonio.descripcion}
              img={testimonio.img}
            />
          ))
        }
      </div>
    </slot>
  </section>
</div>
