---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Alondra Aldana - Nutricion</title>
    <link rel="icon" type="image/svg+xml" href="/images/logo.png" />
    <!-- Google Fonts: Todas las fuentes usadas -->
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Great+Vibes&family=Mea+Culpa&family=Noto+Sans+Meroitic&family=Oswald:wght@200..700&family=Pacifico&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playwrite+DE+SAS:wght@288&family=Satisfy&display=swap"
      rel="stylesheet"
    />
    <!-- Google Fonts: Family -->
  </head>
  <body>
    <slot />
  </body>
</html>
