---
import '../styles/global.css';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Alondra Aldana - Nutricion</title>
		<link rel="icon" type="image/svg+xml" href="/images/logo.png" />
	</head>
		<body>
		<slot />
	</body>
</html>
