---
interface Props {
  text: string;
  color: string;
}

const { text, color } = Astro.props;
---

<div class:list={["flex"]}>
    <span
        class:list={[
        "text-xs",
        "px-2",
        "py-1",
        "rounded-full",
        "text-sm",
        "text-brown/80",
        color === "pink" ? "bg-pink" : "",
        color === "yellow" ? "bg-yellow" : "",
        color === "blue" ? "bg-red" : "",
        color === "crema" ? "bg-crema3" : "",
        "border-2",
        "border-brown/20",
        "hover:scale-105 duration-300"
        ]}
    >
        {text}
    </span>
</div>
