---
interface Props {
  botonTexto: string;
  hrefBoton: string;
  botonPrimario: boolean;
}

const { botonTexto, hrefBoton, botonPrimario } = Astro.props;
---

<div>
  <a
    class:list={["rounded-full", "inline-block", botonPrimario ? "bg-yellow border-3 text-white hover:border-yellow/80" : "border-3 bg-yellow/30", "border-yellow", "py-2", "px-6", "hover:scale-105", "duration-300", "font-semibold", "text-sm"]}
    href={hrefBoton}>{botonTexto}</a
  >
</div>
