<div
  class:list={[
    "flex",
    "justify-center",
    "items-center",
    "max-w-md",
    "bg-crema3/70",
    "p-6",
    "rounded-3xl",
    "shadow-md",
    "w-78",
    "h-122",
    "border-2",
    "border-brown/20",
    "hover:scale-105 duration-400"
  ]}
>
  <img
    class:list={[
      "w-64",
      "h-64",
      "object-cover",
      "rounded-full",
      "border-2",
      "border-crema2",
      "shadow-2xl",
      "hover:scale-105",
      "duration-300",
      "bg-crema3/30",
      "rounded-2xl",
    ]}
    src="/images/AlondraAldana.jpeg"
    alt="Nutrióloga profesional"
  />
</div>
