---
interface Props {
  titulo: string;
  descripcion: string;
}

const { titulo, descripcion } = Astro.props;
---

<article
  class:list={["", "text-center", "border-2", "border-brown/20", "rounded-2xl", "max-w-82", "bg-crema3", "p-2"]}
>
  <h3 class:list={["font-semibold", "font-pacifico", "text-lg", "mb-2"]}>{titulo}</h3>
  <p class:list={["text-base", "font-light", "text-black"]}>{descripcion}</p>
</article>
