---
interface Props {
  titulo: string;
  descripcion: string;
  imagen: string;
  botonTexto: string;
  hrefBoton: string;
}

const { titulo, descripcion, imagen, botonTexto, hrefBoton } = Astro.props;
---

<article>
    <h3>titulo</h3>
    <p>descripcion</p>
    <img src={imagen} alt={titulo} />
    <a href={hrefBoton}>{botonTexto}</a>
</article>
