---

interface Props {
  titulo: string;
  descripcion: string;
}

const { titulo, descripcion } = Astro.props;
---

<article
  class:list={["text-center", "border-2", "border-brown/80", "rounded-2xl", "max-w-82", "bg-crema3", "p-3"]}
>
  
  <h3 class:list={["font-bold", "text-lg", "mb-2", "font-family"]}>{titulo}</h3>
  <p class:list={["text-base", "font-light", "text-brown/70"]}>{descripcion}</p>
</article>
