---
import Badge from "./Badge.astro";

export interface BadgeType {
  text: string;
  color: string;
}

export interface Props {
  nombre: string;
  descripcion: string;
  badges: BadgeType[];
}

const { nombre, descripcion, badges } = Astro.props;
---

<div class:list={["flex"]}>
  <article
    class:list={[
      "max-w-md",
      "flex",
      "flex-col",
      "text-left",
      "border-2",
      "border-brown/20",
      "bg-crema3/30",
      "rounded-2xl",
      "h-110",
      "w-88",
      "p-8",
      "hover:scale-105",
      "duration-300",
    ]}
  >
    <h3 class:list={["text-left", "text-4xl", "pm-4", "mb-4", "font-serif", "font-black", "text-brown/80"]}>{nombre}</h3>
    <p class:list={["mb-8"]}>{descripcion}</p>
    <div class:list={["flex", "gap-2", "flex-wrap"]}>
      {badges && badges.map(badge => (
        <Badge text={badge.text} color={badge.color} />
      ))}
    </div>
  </article>
</div>
