<nav>
  <div
    class:list={["w-4/6", "bg-pink", "grid", "mx-auto", "p-5", "rounded-full"]}
  >
    <ul class:list={["grid", "grid-cols-3", "justify-between", "w-full"]}>
      <li class:list={["w-full", "items-center", "justify-center", "flex", "gap-5"]}>
        <img
          src="/images/logo.jpg"
          alt="logo de nutricion alondra aldana"
          class:list={["w-16", "rounded-full"]}
        />
        <a href="/">ALONDRA ALDANA</a>
      </li>
      <li class:list={["w-full", "items-center", "justify-center",  "flex"]}>
        <img
          src="/images/facebook.png"
          alt="logo de facebook"
          class:list={["w-16", "h-16"]}
        />
        <img
          src="/images/instagram.png"
          alt="logo de facebook"
          class:list={["w-20", "h-15"]}
        />
      </li>

      <li class:list={["w-full", "items-center", "justify-center", "flex", "gap-4"]}>
        <a href="" class:list={["pacifico-regular"]}>HOME</a>
        <a href="">SERVICIOS</a>
        <a href="">CONTACTAME</a>
      </li>
    </ul>
  </div>
</nav>

        