<nav class:list={["absolute", "w-full", "top-4", "z-50"]}>
  <div
    class:list={[
      "lg:w-3/4 md:w-3/4 2xl:w-5/7",
      "bg-gradient-to-tl",
      "from-crema3",
      "via-crema1",
      "to-crema3",
      "grid",
      "mx-auto",
      "p-5",
      "rounded-full",
    ]}
  >
    <ul class:list={["grid", "grid-cols-3", "justify-between", "w-full"]}>
      <li
        class:list={[
          "w-full",
          "items-center",
          "justify-center",
          "flex",
          "gap-2",
          "md:gap-4",
          "hover:scale-105",
          "duration-300",
        ]}
      >
        <img
          src="/images/logo.jpg"
          alt="logo de nutricion alondra aldana"
          class:list={["w-8 sm:w-12 md:w-16", "rounded-full"]}
        />
        <a
          href="/"
          class:list={[
            "text-xs md:text-sm lg:text-base xl:text-2xl 2xl:text-3xl",
            "font-meaculpa",
            "lg:whitespace-nowrap",
            "text-brown/80",
          ]}>Alondra Aldana</a
        >
      </li>
      <li
        class:list={[
          "w-full",
          "items-center",
          "justify-center",
          "flex",
          "-ml-11",
          "md:-ml-7 lg:-ml-4 2xl:-ml-8",
        ]}
      >
        <img
          src="/images/facebook.png"
          alt="logo de facebook"
          class:list={[
            "w-8 sm:w-12 md:w-16",
            "h-8 sm:h-12 md:h-15",
            "hover:scale-110",
            "duration-150",
          ]}
        />
        <img
          src="/images/instagram.png"
          alt="logo de instagram"
          class:list={[
            "w-8 sm:w-14 md:w-17",
            "h-7 sm:h-11 md:h-14",
            "hover:scale-110",
            "duration-150",
            "-ml-2",
          ]}
        />
      </li>

      <li
        class:list={[
          "w-full",
          "items-center",
          "justify-center",
          "flex",
          "gap-2",
          "-ml-6",
          "lg:gap-3 xl:gap-4",
          "pr-2",
          "text-brown/90"
        ]}
      >
        <a
          href=""
          class:list={[
            "hover:bg-brown/20",
            "sm:font-semibold",
            "rounded-2xl",
            "sm:px-2",
            "py-1",
            "hover:scale-110",
            "duration-150",
            "text-xs lg:text-base xl:text-xl",
          ]}>HOME</a
        >
        <a
          href=""
          class:list={[
            "hover:bg-brown/20",
            "sm:font-semibold",
            "rounded-2xl",
            "sm:px-2",
            "py-1",
            "hover:scale-110",
            "duration-150",
            "text-xs lg:text-base xl:text-xl",
          ]}>SERVICIOS</a
        >
        <a
          href=""
          class:list={[
            "hover:bg-brown/20",
            "sm:font-semibold",
            "rounded-2xl",
            "sm:px-2",
            "py-1",
            "hover:scale-110",
            "duration-150",
            "text-xs lg:text-base xl:text-xl",
          ]}>CONTACTAME</a
        >
      </li>
    </ul>
  </div>
</nav>
