<nav class:list={["fixed", "top-0", "left-0", "w-full", "z-50"]}>
  <div
    class:list={[
      "lg:w-3/4",
      "md:w-3/4",
      "2xl:w-5/7",
      "mx-auto",
      "p-5",
    ]}
  >
    <ul
      class:list={[
        "grid",
        "grid-cols-3",
        "items-center",
        "w-full",
        "border-2",
        "bg-gradient-to-tl",
        "border-brown/50",
        "from-crema3/60",
        "via-crema1/50",
        "to-crema3/60",
        "rounded-full",
        "backdrop-blur-md",
      ]}
    >
      <!-- Logo -->
      <li
        class:list={[
          "w-full",
          "items-center",
          "justify-center",
          "flex",
          "gap-2",
          "md:gap-4",
          "hover:scale-105",
          "duration-300",
        ]}
      >
        <a href="/" class="flex items-center gap-2 md:gap-4">
          <img
            src="/images/logo.png"
            alt="logo de nutricion alondra aldana"
            class:list={["w-8 sm:w-8 md:w-13", "rounded-full"]}
          />

          <span
            class:list={[
              "text-xs sm:text-base md:text-sm lg:text-base xl:text-2xl 2xl:text-3xl",
              "font-meaculpa",
              "lg:whitespace-nowrap",
              "text-brown/70",
              "font-bold",
            ]}
          >
            Alondra Aldana
          </span>
        </a>
      </li>

      <!-- Redes sociales -->
      <li
        class:list={[
          "w-full",
          "items-center",
          "justify-center",
          "flex",
          "gap-1",
          "md:gap-2",
        ]}
      >
        <a
          href="https://www.facebook.com/profile.php?id=100068958212531&locale=es_LA"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/images/facebook.png"
            alt="logo de facebook"
            class:list={[
              "w-6 sm:w-10 md:w-10",
              "h-6 sm:h-10 md:h-10",
              "hover:scale-110",
              "duration-150",
            ]}
          />
        </a>

        <a
          href="https://www.instagram.com/nutri.alondra.aldana/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/images/instagram.png"
            alt="logo de instagram"
            class:list={[
              "w-7 sm:w-12 md:w-11",
              "h-5 sm:h-9 md:h-9",
              "hover:scale-110",
              "duration-150",
            ]}
          />
        </a>
      </li>

      <!-- Links -->
      <li
        class:list={[
          "w-full",
          "items-center",
          "justify-center",
          "flex",
          "gap-2",
          "lg:gap-3",
          "xl:gap-4",
          "pr-2",
          "text-brown/70",
        ]}
      >
        <a
          href="#home"
          class:list={[
            "hover:bg-brown/20",
            "sm:font-semibold",
            "rounded-2xl",
            "sm:px-2",
            "py-1",
            "hover:scale-110",
            "duration-150",
            "text-xs lg:text-base xl:text-xl",
          ]}
        >
          HOME
        </a>

        <a
          href="#servicios"
          class:list={[
            "hover:bg-brown/20",
            "sm:font-semibold",
            "rounded-2xl",
            "sm:px-2",
            "py-1",
            "hover:scale-110",
            "duration-150",
            "text-xs lg:text-base xl:text-xl",
          ]}
        >
          SERVICIOS
        </a>

        <a
          href="#contacto"
          class:list={[
            "hover:bg-brown/20",
            "sm:font-semibold",
            "rounded-2xl",
            "sm:px-2",
            "py-1",
            "hover:scale-110",
            "duration-150",
            "text-xs lg:text-base xl:text-xl",
          ]}
        >
          CONTACTAME
        </a>
      </li>
    </ul>
  </div>
</nav>